@charset "UTF-8";
.navbar-nav .nav-item {
    width: 108px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    border: 1px solid #ff3;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,88,200,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,88,200,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(198,88,200,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(198,88,200,1.00) 100%);
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark .container #navbarSupportedContent {
}
.bg-dark {
    background-color: #C126A0 !important;
}
header h2 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    color: #C126A0;
    font-size: 51px;
    text-shadow: 0px 5px 10px #312B31;
    text-align: center;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}
HEADER p {
    color: #000000;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 150%;
    text-align: center;
    text-shadow: 0px 3PX 10PX #C126A0;
    letter-spacing: 0.4EM;
}
header {
    background-image: url(modern-pink-polygon-banner.jpeg);
}
